{% extends '@EgrajedaReclineJs/layout.html.twig' %}

{% block body %}
  <div class="row">
    <div class="span12">
      <div class="page-header">
        <h1>{{ report.name }}</h1>
      </div>
      <div id="data-grid" style="height: 500px;"></div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
    <script>
        var url = '{{ report.slug }}';
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    {% javascripts '@EgrajedaReclineJsBundle/Resources/public/js/*' %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
